<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>{{ user.name }} 的电影列表 </title>
    {% endblock %}
</head>

<body>
    {% for message in get_flashed_messages() %}
        <h1 class="alert">{{ message }}</h1>
    {% endfor %}
    <h2>
        <img class="avatar" src="{{ url_for('static',filename='images/1.jpg') }}" alt="头像">
        {{ user.name }} 的电影列表
    </h2>
    <nav">
        <ul>
            <li>
                <a href="{{ url_for('index') }}">主页</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('login') }}" style="margin-left: 100px;">登陆</a>
                <a href="{{ url_for('logout') }}" style="margin-left: 100px;">登出</a>
                <a href="{{ url_for('settings') }}" style="margin-left: 100px;">设置name</a>
                {% else %}
                <a href="{{ url_for('login') }}" style="margin-left: 150px;">登陆</a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>
        <small>&copy;<a href="http://www.bwzn.com">北京网络职业技术学院-人工智能学科</a></small>
    </footer>
</body>

</html>